.nav a{
    color: rgb(249, 249, 249);
    text-decoration: none;
}
.bt{
    background-color: rgba(30, 91, 43, 0.701);
    padding: 5px;
    border-radius: 3px;
    border: none;
    margin-right: 20px;
}
.nav{
    background-image: linear-gradient(to right,rgba(16, 81, 31, 0.397),rgb(225, 225, 225));
    display: flex;
    align-items: center;
}
img{
    width: 80px;
    padding-left: 10px;
}
.bt:hover{
    opacity: 0.6;
}
.align{
   display: flex;
   justify-content: center;
   gap : 20px;
   width: 100%;
}
.hello{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.align2{
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap : 20px;
}
.item{
    display: flex;
    justify-content: center;
    gap: 200px;
}
.input,select{
   
    border-radius: 5px;
    padding: 10px;
    border-color: rgb(109, 109, 109);
    border-style: solid;
    border-width: 1px;
}

.Serach_input{
   border: none;
   padding: 10px;
}
.head{
  text-align: center;
  padding: 10px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.btn-width{
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    background-color: none;
}
.search{
    display: flex;
    align-items: center;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(121, 121, 121);
}